workspaces-streamlit-template
build
myenv
build.log
run_app.spec
clean-up-workspaces.log
*-embed-amd64
get-pip.py
run_app.bat
python*
**/__pycache__/
gdpr_consent/node_modules/
ms2query-models/
example-data/ms2-libraries/GNPS-LIBRARY.mgf

# OpenMS-Insight component render caches (created wherever the app is launched from)
umetaflow_volcano_plot/
umetaflow_pca_plot/
umetaflow_clustered_heatmap/
repro_volcano_plot/

# Local test data pulled from Metabolomics Workbench
test-data-workbench/